.contact {
  height: 100vh;
  overflow: hidden;
  padding-top: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: $secondary;
    margin-top: 1rem;
    font-size: 15px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;

    div {
      text-align: center;
      background: lighten($primary, 10%);
      padding: 2rem 3rem;
      border-top: 5px solid $secondary;
      @include transition-ease;
      width: 85vw;
      &:hover {
        border-top: 5px solid white;
      }
      font-size: 20px;
    }
  }

  i {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    
    h2 {
      font-size: 3rem;
    }

    &__list {
      div {
        padding: 3rem 7rem;
        max-width: 500px;
      }
    }
  }
}
